.top-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.overlayGradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image:  url(images/hero-bg.jpg);
  background-color: rgba(255, 255, 255, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.glassmorphicBackground {
  margin-top: 60px !important;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  background-color:  rgba(255, 255, 255, 0.1); 
}